{% extends 'base.html' %}

{% block content %}
    <div class="image-container">
        <img id="image" src="{{ url_for('static', filename='images/lettergradegui.png') }}"
            width="600" height="360">
            <div class="description">
                <h1>Letter grade calculator GUI</h1>
                <p>GUI from Tkinter library</p>
                <p>Used to calculate my final letter grade when I took Algorithms and Data Structures</p>
                <h1>Why I Made It?</h1>
                <p>I think it is always frustrating not knowing where you stand academically, especially when all the grades are in.</p>
                <p>It may take longer than expected to find out your earned letter grade and in order to alleviate this uncertainty, I made a very simple user interface that I can take with me to future classes so that I will no longer be stumped.</p>
                <p>The only thing to consider is the actual letter grades in use and cutoffs for the specific professor, and I can calculate any letter grade.</p>
            </div>
    </div>


{% endblock %}
