{% extends 'base.html' %}

{% block content %}
    
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}


{% if name %}
    <h1>Hello {{ name }}!</h1>
    <br/>
    <img src="{{ url_for('static', filename='images/TimeSquare.jpg') }}"
    width=1100 height=700>
    <br/><br/>
    <p id="demo">This is stuff...</p>

<script src="{{ url_for('static', filename= 'js/myFile.js') }}"></script>

{% else %}
    <h2>Idk what to do with this page yet. For now see a pic of timesquare</h2>
    <h1>What's Your Name?</h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
    



{% endif %}

{% endblock %}