{% extends 'base.html' %}

{% block content %}
<h1>Vintage Watches</h1>
    <div class="watch-container">
        <img id="watch" src="{{ url_for('static', filename='images/lugano1.png') }}"
            width="600" height="600">
            <div class="description">
                <h1>Lugano Vintage Swiss Manual Wind</h1><br/>
                <p>17 Jewels</p>
                <p>32mm case Very small for todays standards.</p>
                <p>Aprox. dated to 1960s</p>
                <p>Ebay find.</p>
            </div>
    </div>

    <div class="watch-container">
        <img id="watch" src="{{ url_for('static', filename='images/destaultraflat.png') }}"
            width="600" height="600">
            <div class="description">
                <h1>Desta Ultra Flat Vintage Manual Wind</h1><br/>
                <p>17 jewels</p>
                <p>34mm case</p>
                <p>Aprox. only 6.8mm thick</p>
                <p>Visible pitting of case plating</p>
                <p>Aprox. dated to 1950s or 1960s</p>
                <p>Ebay find.</p>
            </div>
    </div>

    <h2>The merit of vintage watches:</h2>
    <p>Elegant designs due to the goal of maximizing functionality and reducing size.</p>
    <p>This leads to smaller watches that fit much nicer on the wrists and slide under the cuff.</p>
    <p>Many of the watch companies of the past are no longer here today do to the quartz crisis.</p>
    <p>That being said there is value on these watches as they are sought after by the watch enthusiasts</p>
    <p>A good vintage watch is a novelty item. Its not for everyone and may not be up to todays standards in terms of technology and condition.</p>


<h1>Quartz Watches</h1>
    <div class="watch-container">
        <img id="watch" src="{{ url_for('static', filename='images/seikochrono.png') }}"
            width="600" height="600">
            <div class="description">
                <h1>Seiko Quartz Chronograph/Flight master</h1><br/>
                <p>Rotating bezel tachymeter</p>
                <p>Rugged design</p>
            </div>
    </div>
    <div class="watch-container">
        <img id="watch" src="{{ url_for('static', filename='images/seikodatejust.png') }}"
            width="600" height="600">
            <div class="description">
                <h1>Seiko Vintage Quartz Datejust Homage (SOLD)</h1><br/>
                <p>Well remarked as the Datejust homage/look alike in the watch community.</p>
                <p>coin bezel</p>
                <p>Baton hands</p>
            </div>
    </div>
    <h2>The merit of quartz watches:</h2>
    <p>impeccable quartz accuracy.</p>
    <p>Once set you dont have to worry about winding of mainspring like in a manual-wind.</p>
    <p>No adjustments needed; there is no main spring and time will not slow down or speed up depending on how much reserve there is.</p>
    <p>Quartz movements tend to be more robust as there arent as much moving parts.</p>

<h1>SeikoMods</h1>
<div class="watch-container">
    <img id="watch" src="{{ url_for('static', filename='images/seikomod.png') }}"
        width="600" height="600">
        <div class="description">
            <h1>Seiko snk807 automatic sea explorer modification</h1><br/>
            <p>After market sea explorer dial</p>
            <p>After market hands</p>
            <p>Polished the sand blasted case to shine</p>
            <h2>Difficulties:</h2>
            <p>--Placing seconds hand without damage</p>
            <p>--Lining up hands so that date switch occurs at 12</p>
            <p>--Dust inside crystal once watch is closed</p>
            <h2>Results:</h2>
            <p>--Not professional</p>
            <p>--After market Seconds hand was damaged in the process of placing.</p>
            <p>After market parts from secondhandmods</p>
        </div>
</div>

<h1>Contemporary Pieces</h1>
<div class="watch-container">
    <img id="watch" src="{{ url_for('static', filename='images/orient.png') }}"
        width="600" height="600">
        <div class="description">
            <h1>Orient Small Seconds.</h1><br/>
            <p>Champagne dial.</p>
            <p>Orients in house automatic movement.</p>
            <p>Small seconds hand at 6 oclock.</p>
            <p>Bane of its existance oversized 41.5mm case and its odd 21mm lugwidth.</p>
            <p>Modern watches take at vintage design. Should have been smaller case size.</p>
            <p>Highschool grad gift.</p>
        </div>
</div>

{% endblock %}